<div layout="column">
    <!--<div layout="row" layout-align="end start">
       asdfasdfasdf
    </div>-->
    <!--Available DP Template-->
    <!--Group Name-->
    <div layout="row">
        <div layout="column" flex="100">
            <md-input-container>
                <label>Group Name</label>
                <input type="text" ng-value="vm.selectedDeliveryPoint.locality">
            </md-input-container>
        </div>
    </div>

    <!--Type-->
    <div layout="row">
        <div layout="column" flex="90">
            <md-input-container>
                <label>Type</label>
                <md-select ng-model="vm.groupType">
                    <md-option ng-repeat="groupType in vm.deliveryGroupTypes" ng-value="groupType">
                        {{groupType.value}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout="column" flex="10">
            <md-button class="context-button" aria-label="Help" title="{{ 'GENERAL.BUTTONS.HELP' | translate }}">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            </md-button>
        </div>
    </div>

    <!--Floors & Internal Distance-->
    <div layout="row">
        <div layout="column" flex="50">
            <md-input-container>
                <label>Floors</label>
                <input type="text" ng-value="vm.selectedDeliveryPoint.locality">
            </md-input-container>
        </div>
        <span flex="5"></span>
        <div layout="column" flex="50">
            <md-input-container>
                <label>Internal Distance</label>
                <input type="text" ng-value="vm.selectedDeliveryPoint.locality">
            </md-input-container>
        </div>
    </div>

    <!--Override & time-->
    <div layout="row">
        <div layout="column" flex="50">
            <md-checkbox ng-model="ctrl.overridetime">Override time</md-checkbox>
        </div>
        <span flex="5"></span>
        <div layout="column" flex="50">
            <md-input-container>
                <label>Time</label>
                <input type="text" ng-value="vm.selectedDeliveryPoint.locality">
            </md-input-container>
        </div>
    </div>

    <!--Delivery Points & Delivery to reception-->
    <div layout="row">
        <div layout="column" flex="40">
            <md-input-container>
                <label>Time</label>
                <input type="text" ng-value="vm.selectedDeliveryPoint.locality">
            </md-input-container>
        </div>
        <span flex="5"></span>
        <div layout="column" flex="10">
            <md-button class="context-button" aria-label="Help" title="{{ 'GENERAL.BUTTONS.HELP' | translate }}">
                <i class="fa fa-chevron-up" aria-hidden="true"></i>
            </md-button>
        </div>
        <span flex="5"></span>
        <div layout="column" flex="40">
            <md-checkbox ng-model="ctrl.simulateQuery">Delivery to reception</md-checkbox>
        </div>
    </div>

    <!--Available points-->
    <div layout="row">
        <div layout="column" flex="60">
            <md-content class="md-padding"><p>Available Points</p></md-content>
        </div>
        <div layout="column" flex="20">
            <span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-check-square fa-stack-1x" aria-hidden="true"></i>
            </span>
        </div>
        <div layout="column" flex="20">
            <span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-check-square fa-stack-1x" aria-hidden="true"></i>
            </span>
        </div>
    </div>

    <div layout="row">
        <div layout="column" flex="80">
            <p>9 Mars Crescent B91E 1HE</p>
        </div>
        <div layout="column" flex="10">
            <md-button class="context-button" aria-label="Help" title="{{ 'GENERAL.BUTTONS.HELP' | translate }}">
                <i class="fa fa-check aria-hidden="true"></i>
            </md-button>
        </div>
        <div layout="column" flex="10">
            <md-button class="context-button" aria-label="Help" title="{{ 'GENERAL.BUTTONS.HELP' | translate }}">
                <i class="fa fa-close aria-hidden="true"></i>
            </md-button>
        </div>
    </div>
</div>