<div layout="column">
     <div layout="row" class="md-padding" layout-align="end start">
        <i class="fa fa-floppy-o deliveryDialog" aria-hidden="true" ng-click="vm.createAccessLink()"></i>
        <i class="fa fa-question-circle " aria-hidden="true"></i>
    </div>
    
    <div layout="row">
        <md-input-container>
            <label>{{ 'ACCESS_LINK.PATH_LENGTH' | translate }}</label>
            <input type="text" ng-disabled="true" ng-model="length">
        </md-input-container>
        <span flex="5"></span>
        <div class="pathLengthUnit">{{ 'ACCESS_LINK.METERS' | translate }}</div>        
    </div>
</div>