<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Fmo Test Ruleset" Description="These rules focus on the most critical problems in your code, including potential security holes, application crashes, and other important logic and design errors. You should include this rule set in any custom rule set you create for your projects." ToolsVersion="14.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1002" Action="None" />
    <Rule Id="CA1004" Action="None" />
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1016" Action="None" />
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1032" Action="None" />
    <Rule Id="CA1040" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1506" Action="None" />
    <Rule Id="CA1707" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA1823" Action="None" />
    <Rule Id="CA2000" Action="None" />
    <Rule Id="CA2210" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS3000" Action="None" />
    <Rule Id="CS3001" Action="None" />
    <Rule Id="CS3002" Action="None" />
    <Rule Id="CS3003" Action="None" />
    <Rule Id="CS3005" Action="None" />
    <Rule Id="CS3006" Action="None" />
    <Rule Id="CS3007" Action="None" />
    <Rule Id="CS3008" Action="None" />
    <Rule Id="CS3009" Action="None" />
    <Rule Id="CS3010" Action="None" />
    <Rule Id="CS3011" Action="None" />
    <Rule Id="CS3012" Action="None" />
    <Rule Id="CS3013" Action="None" />
    <Rule Id="CS3014" Action="None" />
    <Rule Id="CS3015" Action="None" />
    <Rule Id="CS3016" Action="None" />
    <Rule Id="CS3017" Action="None" />
    <Rule Id="CS3018" Action="None" />
    <Rule Id="CS3019" Action="None" />
    <Rule Id="CS3021" Action="None" />
    <Rule Id="CS3022" Action="None" />
    <Rule Id="CS3023" Action="None" />
    <Rule Id="CS3024" Action="None" />
    <Rule Id="CS3026" Action="None" />
    <Rule Id="CS3027" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1123" Action="None" />
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1639" Action="Warning" />
    <Rule Id="SA1652" Action="None" />
  </Rules>
</RuleSet>