

<div layout-align="center center" class="map-toolbar" layout="row">
    <md-button ng-repeat="button in vm.mapButtons track by $index"
               ng-class="vm.selectedButton=='{{button}}' ? 'button md-raised selected' : 'button md-raised'"
               ng-click="vm.setSelectedButton(button)">
        <i class="fa fa-hand-pointer-o pad-icon" ng-if="button === 'select'"></i>
        <i class="fa fa-map-marker pad-icon" style="color:black" ng-if="button === 'point'"></i>
        <md-icon md-font-icon="timeline" class="material-icons pad-icon" style="color:black" ng-if="button === 'line'"></md-icon>
        <span flex></span>{{button}}
    </md-button>
</div>

