<div layout-align="center start" class="map-toolbar" layout="row">
    <md-button ng-repeat="button in vm.mapButtons track by $index"
               ng-class="vm.selectedButton=='{{button}}' ? 'button md-raised selected' : 'button md-raised'"
               ng-click="vm.setSelectedButton(button)">
            <i class="fa fa-hand-pointer-o pad-icon" ng-if="button === 'select'"></i>
            <i class="fa fa-map-marker pad-icon" ng-if="button === 'point'"></i>
        <md-icon class="material-icons pad-icon" ng-if="button === 'line'">timeline</md-icon>
            <span flex></span><span class=maptoolBarText>{{button}}</span>
    </md-button>
</div>