.map-toolbar {
    top: 70px;
    left: 360px;
    position:absolute;
}
.map-toolbar .button{
    padding:0;
    padding-right:10px;
    margin:0;
    border-radius: 0;
    min-width:40px;
}
.button-small{
    padding:0;
    margin:0;
    border-radius: 0;
    width: 40px;
    min-width: 40px;
}

.pad-icon {
    margin-right:5px;
    margin-left:10px;
}

.map-toolbar .button.selected, .md-button.md-raised:not([disabled]).button:hover {
    background-color: #aadaea;
}