@import './app/variables';

.maptoolBarText{
    font-family: $secondary-font;
    font-size: $seondary-font-size;
}

.map-toolbar {
    @include top(70px);
    @include position(absolute);
    left: 450px;
}

.map-toolbar .button {
  @include padding(0px 10px 0px 0px);
  @include margin(0px 0px 0px 0px);
  @include border-radius(0px);
  min-width: minWidth(40);
}

.pad-icon {
    @include margin(0px 5px 0px 10px);
    font-size: $seondary-font-size;
}

.map-toolbar .button.selected, .md-button.md-raised:not([disabled]).button:hover {
    @include background($clear-blue);
}
