@import './app/variables';

.maptoolBarText{
    font-family: $pf_din-font;
    font-size: $secondary-font-size;
}

.map-toolbar {
    @include top(75px);
    @include position(absolute);
    left: 375px;
}

.map-toolbar .button {
  @include padding(0px 10px 0px 0px);
  @include margin(0px 0px 0px 0px);
  @include border-radius(0px);
  min-width: minWidth(40);
}

.pad-icon {
    @include margin(0px 5px 0px 10px);
    font-size: $secondary-font-size;
}

.map-toolbar .button.selected, .md-button.md-raised:not([disabled]).button:hover {
    background-color: $clear-blue;
}   