@import './app/variables';

#table_wrapper{
    @include background($recess-grey,none);
    @include border($black);
    @include float(right);
    @include border(1px solid $black);
}

#tbody{
    @include background($white,none);
    @include width(550px);
    @include height(150px);
    overflow-y:auto;
}

table{
    width: width-percent(1);
    border-collapse:collapse;
}

#table_wrapper td{
    @include border-bottom(1px solid $black);
    @include padding(1px 5px 1px 5px);
    border-right:1px solid black;
} 
.td1{
    @extend %body-content;
    @include width(250px);
}
.td2{
    @extend %body-content;
    @include width(140px);
}
#header{
    @include width(550px);
    @include background($recess-grey,none);
    @include border-bottom(1px solid $recess-grey);
}
#header div{
    @include padding(1px 5px 1px 5px);
    @include float(left);
    border-right:1px solid black;
}
#header #head1{
    @extend %header-content;
    @include width(250px);
} /* the same as td1 */
#header #head2{
    @extend %header-content;
    @include width(140px);
} /* the same as td2 */
#header #head3{
    @extend %header-content;
    @include float(none);
    border-right-width:0
}

md-dialog h2{
    @extend %header-content;
    @include font-color($black);
    @include margin(10px 0px 20px 0px);
}


.routeLogDialog {
    width: width-percent(1.7);
    height: height-percent(1);
}

.routeSelectSearch {
    width: width-percent(2.44);
    @include padding(0px 0px 0px 0px);
    @include margin(-15px 0px 0px 0px);
    height: height-percent(1);
    outline: none;
}

md-switch.md-checked .md-bar {
    @include background(rgb(209,98,104),none);
}

md-switch.md-checked .md-thumb {
    @include background(rgb(218,32,42),none);
}

label{
    @extend %body-content;
}

.md-text{
    @extend %body-content;
}

.routeSearch{
    width: width-percent(1.030);
}

span.closeRouteWindow {
    @include cursor(default);
    @include top(7px);
    @include position(absolute);
    right: 7px;
}

.logTable{
    margin-bottom:55px;
}

.routeDetailsList{
    border:1px solid black;
}

.routeDetailsItem{
    border-right:1px solid black;
}
.routeGenerate{
    @include margin(0px 0px 0px 20px);
}

.routeDetailstable table {
    @extend %body-content;
    width: width-percent(1);
    border-collapse: collapse;
}

.routeDetailstable td, th {
    @include border(1px solid $black);
    @include padding(8px 8px 8px 8px);
    text-align: left;
}

.routeDetailstable tr:nth-child(even) {
    @include background($white-smoke,none);
}

.routeLogList  md-list-item, md-list-item .md-list-item-inner{
    @include height(28px);
    min-height: 28px;
}

.mdDialog h1{
    padding-left: 0px;
  }

.mdDialog md-input-container {
    margin-right: 12px;
}

.mdDialog md-input-container.md-block.md-input-has-placeholder {
    margin-right: 0px;
}