<md-dialog aria-label="Route Log" class="mdDialog routeLogDialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{  'ROUTE_LOG.TITTLE' | translate  }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.closeWindow()" title="{{ 'GENERAL.BUTTONS.CLOSE_WINDOW' | translate }}">
                <i class="fa fa-times" aria-hidden="true"></i>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content layout-padding>
        <div>
            <h1>{{ 'GENERAL.SEARCH' | translate }}</h1>
            <div layout="row">
                <md-input-container flex="15">
                    <label>{{  'ROUTE_LOG.SELECTION_TYPE' | translate  }}</label>
                    <md-select name="type" ng-model="vm.selectedRouteSelectionObj" ng-change="vm.selectionTypeChange()">
                        <md-select-label>
                            {{ vm.RouteselectionTypeObj.value }}
                        </md-select-label>
                        <md-option ng-repeat="type in vm.RouteselectionTypeObj" ng-value="type" selected="{{ type.value === vm.RouteselectionTypeObj.value ? 'selected' : '' }}">
                            {{type.value}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex="15">
                    <label>{{ 'ROUTE_LOG.STATUS' | translate }}</label>
                    <md-select name="type" ng-model="vm.selectedRouteStatusObj" ng-change="vm.selectedRouteStatus()">
                        <md-select-label>{{ vm.RouteStatusObj.value }}</md-select-label>
                        <md-option ng-repeat="status in vm.RouteStatusObj" ng-value="status" selected="{{ status.value === vm.RouteStatusObj.value ? 'selected' : '' }}">{{status.value}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex="25">
                    <label>{{ 'ROUTE_LOG.SCENARIO' | translate }}</label>
                    <md-select ng-model="vm.selectedRouteScenario" ng-disabled="vm.isRouteScenarioDisabled || (!filterScenario.length && vm.isSelectionType)" ng-change="vm.scenarioChange()" placeholer="Select a scenario">
                        <md-option ng-repeat="scenario in  filterScenario =(vm.RouteScenario)" ng-value="scenario">{{scenario.scenarioName}}</md-option>
                    </md-select>
                    <div ng-show="!filterScenario.length && vm.isSelectionType" class="noResult">{{ 'GENERAL.ERRORS.NO_RESULT_FOUND' | translate }}</div>
                </md-input-container>

                <custom-searchable-dropdown disabled="vm.isDeliveryRouteDisabled" search-placeholder="ROUTE_LOG.SEARCH_ROUTE" header-text="ROUTE_LOG.ROUTE" order-by="displayText"
                                            items="vm.deliveryRoute" selected-item="vm.selectedRoute" on-selected-item="vm.deliveryRouteChange" class="routeSelectSearch" flex />
            </div>
        </div>

        <h1 ng-show="vm.isShowMultiSelectionRoute">{{ 'ROUTE_LOG.SELECTED_ROUTES' | translate }}</h1>
        <div layout="row" ng-show="vm.isShowMultiSelectionRoute">
            <md-table-container id="routLogTable">
                <table md-table>
                    <thead md-head>
                        <tr md-row>
                            <th md-column>{{ 'ROUTE_LOG.ROUTE_NAME' | translate }}</th>
                            <th md-column>{{ 'ROUTE_LOG.ROUTE_NUMBER' | translate }}</th>
                            <th md-column>{{ 'ROUTE_LOG.SELECT' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="routeType in vm.multiSelectiondeliveryRoute">
                            <td md-cell>{{routeType.routeName}}</td>
                            <td md-cell>{{routeType.routeNumber}}</td>
                            <td md-cell>
                                <md-checkbox ng-model="data" aria-label="Select Route"></md-checkbox>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>



        <div ng-hide="!vm.routeDetails">
            <h1>{{ 'ROUTE_LOG.ROUTE_DETAILS' | translate }}</h1>
            <md-list>
                <div layout="row">
                    <div flex="35" class="routeDetailstable">
                        <table>
                            <tr>
                                <td>Name</td>
                                <td>{{vm.routeDetails.routeName}}</td>
                            </tr>
                            <tr>
                                <td>Route Number</td>
                                <td>{{vm.routeDetails.routeNumber}}</td>
                            </tr>
                            <tr>
                                <td>Delivery Method</td>
                                <td>{{vm.routeDetails.method}}</td>
                            </tr>
                            <tr>
                                <td>Total Time</td>
                                <td>{{vm.routeDetails.totaltime}}</td>
                            </tr>
                            <tr>
                                <td>Hazards</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Special Instructions</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Aliases<sub>*</sub></td>
                                <td>{{vm.routeDetails.aliases}}</td>
                            </tr>
                            <tr>
                                <td>Blocks</td>
                                <td>{{vm.routeDetails.blocks}}</td>
                            </tr>
                            <tr>
                                <td>Paired Route</td>
                                <td>{{vm.routeDetails.pairedRoute}}</td>
                            </tr>
                        </table>
                    </div>

                    <span flex="5"></span>

                    <div flex="35" class="routeDetailstable">
                        <table>
                            <tr>
                                <td>CPs</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>DPs</td>
                                <td>{{vm.routeDetails.dPs}}</td>
                            </tr>
                            <tr>
                                <td>Business DPs</td>
                                <td>{{vm.routeDetails.businessDPs}}</td>
                            </tr>
                            <tr>
                                <td>Residential DPs</td>
                                <td>{{vm.routeDetails.residentialDPs}}</td>
                            </tr>
                        </table>
                    </div>
                    <span flex="5"></span>

                    <div flex="20" class="md-text"><sub>*</sub>All Alias information is shown on detailed route log </div>
                </div>
            </md-list>

            <h1>{{ 'ROUTE_LOG.GENERATE' | translate }}</h1>
            <md-list class="routeLogList">
                <md-list-item>
                    <md-checkbox ng-model="vm.generateSummaryReport"></md-checkbox>
                    <p>{{ 'ROUTE_LOG.ROUTE_LOG_SUMMARY' | translate }}</p>
                </md-list-item>
                <md-list-item>
                    <md-checkbox ng-model="vm.generateDetailedRouteLogReport"></md-checkbox>
                    <p>{{ 'ROUTE_LOG.DETAILED_ROUTE_LOG' | translate }}</p>
                </md-list-item>
                <md-list-item>
                    <md-checkbox ng-model="vm.generateHazardCardReport"></md-checkbox>
                    <p>{{ 'ROUTE_LOG.HAZARD_CARD' | translate }}</p>
                </md-list-item>
                <md-button class="md-raised routeGenerate" ng-disabled="(!vm.generateSummaryReport&&!vm.generateDetailedRouteLogReport&&!vm.generateHazardCardReport)" md-whiteframe="3dp" ng-click="vm.generateRouteLogSummary()">{{ 'GENERAL.BUTTONS.GENERATE' | translate }}</md-button>
            </md-list>
        </div>
    </md-dialog-content>
</md-dialog>    