<div layout="column" class="md-padding">
    <md-radio-group layout="row" ng-model="vm.selectedRouteStatusObj" ng-change="vm.selectedRouteStatus()" layout-align="space-around start">
        <md-radio-button ng-repeat="status in vm.RouteStatusObj" ng-value="status.id">
            <label ng-bind="status.referenceDataValue"></label>   <br>
        </md-radio-button>
    </md-radio-group>

    <md-input-container class="md-block">
        <label>{{'ROUTE_SIMULATION.SCENARIO' | translate }}</label>
        <md-select ng-model="vm.selectedRouteScenario" ng-disabled="!filterScenario.length" ng-change="vm.scenarioChange()" placeholer="Select a scenario" class="simulationSelect">
            <md-option ng-repeat="scenario in filterScenario =(vm.RouteScenario)" ng-value="scenario">{{scenario.scenarioName}}</md-option>
        </md-select>
        <div ng-show="!filterScenario.length" class="noResult">No Result Found</div>
    </md-input-container>

    <custom-searchable-dropdown label-text="'ROUTE_SIMULATION.ROUTE'" place-holder="'ROUTE_SIMULATION.NO_ROUTE_SELECTED'" search-term="vm.searchTerm" is-delivery-route-disabled="vm.isDeliveryRouteDisabled"
                                selected-route="vm.selectedRoute" select-class="'simulationSelect'" select-header-class="vm.selectClass" delivery-route="vm.deliveryRoute"
                                no-result-found="'ROUTE_SIMULATION.NO_RESULT_FOUND'" is-route-log="true" is-unit-selector="false">
    </custom-searchable-dropdown>
   
</div>