
<md-radio-group layout="row" ng-model="vm.selectedRouteStatusObj.group1" ng-change="vm.selectedRouteStatus()" layout-align="space-around center">
    <md-radio-button ng-repeat="status in vm.RouteStatusObj" ng-value="status.id">
        <label ng-bind="status.displayText"></label>   <br>
    </md-radio-button>
</md-radio-group>   

<div layout="column" flex>
    <md-input-container flex>
        <label>Scenario</label>
        <md-select  ng-model="vm.selectedRouteScenario" ng-change="vm.scenarioChange()" placeholer="Select a scenario">
            <md-option value="empty"><em>No Scenario</em></md-option>
            <md-option ng-repeat="scenario in vm.RouteScenario" ng-value="scenario">{{scenario.scenarioName}}</md-option>
        </md-select>
    </md-input-container>

    <md-input-container flex>
        <label>Route Type</label>
        <md-select ng-disabled="vm.isDeliveryRouteDisabled" ng-model="vm.selectedDeliveryRoute"  placeholder="Select a route type">
            <md-option value="empty"><em>No Route Type</em></md-option>
            <md-option ng-repeat="routeType in vm.deliveryRoute" ng-value="routeType">{{routeType.routeName}}</md-option>
        </md-select>
    </md-input-container>
   
</div>