
<md-radio-group layout="row" ng-model="vm.selectedRouteStatusObj.group1" ng-change="vm.selectedRouteStatus()" layout-align="space-around center">
    <md-radio-button ng-repeat="status in vm.RouteStatusObj" ng-value="status.id">
        <label ng-bind="status.displayText"></label>   <br>
    </md-radio-button>
</md-radio-group>   

<div layout="column" flex>
    <md-input-container flex>
        <label>Scenario</label>
        <md-select  ng-model="vm.selectedRouteScenario" ng-change="vm.scenarioChange()" placeholer="Select a scenario">
            <md-option value="empty"><em>No Scenario</em></md-option>
            <md-option ng-repeat="scenario in vm.RouteScenario" ng-value="scenario">{{scenario.scenarioName}}</md-option>
        </md-select>
    </md-input-container>

    <md-input-container>
        <label>Route</label>
        <md-select ng-disabled="vm.isDeliveryRouteDisabled" ng-model="vm.selectedVegetables" data-md-container-class="selectdemoSelectHeader">
            <md-select-header class="demo-select-header">
                <input type="search" ng-model="vm.searchTerm" placeholder="No Route Selected" ng-keydown="$event.stopPropagation()" class="demo-header-searchbox md-text">
            </md-select-header>
            <md-optgroup label="vegetables">
                <md-option ng-value="route" ng-repeat="route in vm.deliveryRoute | filter:vm.searchTerm | orderBy : 'routeName' ">{{route.routeName}}</md-option>
            </md-optgroup>
        </md-select>
    </md-input-container>
   
</div>