<div layout="column">
    <div layout="row" layout-align="end start">
        <md-button class="context-button" aria-label="Back" title="{{ 'GENERAL.BUTTONS.BACK' | translate }}">
            <previous-page ng-show="vm.deliveryPointList != null || vm.positionedDeliveryPointList != null || vm.positionedThirdPartyDeliveryPointList != null"></previous-page>
        </md-button>
        <md-button class="context-button" aria-label="Add Delivery Point" ng-click="vm.deliveryPoint()" ng-hide="vm.hide" title="{{ 'GENERAL.ADD_DELIVERY_POINT' | translate }}">
            <i class="fa fa-plus" aria-hidden="true">
        </i>
        </md-button>
        <md-button class="context-button" aria-label="Save" ng-show="vm.positionedDeliveryPointList" ng-click="vm.savePositionedDeliveryPoint()" title="{{ 'GENERAL.BUTTONS.SAVE' | translate }}">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
        </md-button>
        <md-button class="context-button" aria-label="Help" title="{{ 'GENERAL.BUTTONS.HELP' | translate }}">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
        </md-button>     
    </div>

    <div layout="column" ng-show="vm.deliveryPointList || vm.positionedDeliveryPointList || vm.positionedThirdPartyDeliveryPointList">
        <h1>Points not positioned by 3rd party</h1>
        <ul>
            <li ng-show="vm.deliveryPointList == null || vm.deliveryPointList == undefined || vm.deliveryPointList == [] || vm.deliveryPointList.length == 0">
                None left to position
            </li>
            <li ng-repeat="item in vm.deliveryPointList">
                {{item.locality}}
                <span ng-click="vm.toggle(item)">
                    <md-checkbox class="dpCheckBox"></md-checkbox>
                </span>
            </li>

        </ul>
    </div>
    <div layout="column" ng-show="vm.deliveryPointList || vm.positionedDeliveryPointList || vm.positionedThirdPartyDeliveryPointList">
        <h1>Positioned points</h1>
        <ul>
            <li ng-show="vm.positionedDeliveryPointList == null || vm.positionedDeliveryPointList == undefined || vm.positionedDeliveryPointList ==  [] || vm.positionedDeliveryPointList.length ==  0">
                None positioned yet
            </li>
            <li ng-repeat="item in vm.positionedDeliveryPointList">
                {{item.locality}}
            </li>
        </ul>
    </div>
    <div layout="column" ng-show="vm.deliveryPointList || vm.positionedDeliveryPointList || vm.positionedThirdPartyDeliveryPointList">
        <h1>Already positioned by 3rd Party</h1>
        <ul>
            <li ng-show="vm.positionedThirdPartyDeliveryPointList == null || vm.positionedThirdPartyDeliveryPointList == undefined || vm.positionedThirdPartyDeliveryPointList ==  [] || vm.positionedThirdPartyDeliveryPointList.length ==  0">
                None positioned yet
            </li>
            <li ng-repeat="item in vm.positionedThirdPartyDeliveryPointList">
                {{item.locality}}
            </li>
        </ul>
    </div>

</div>