@import './app/variables';

.searchInputIcon {
    height: height-percent(1);
    @include margin(20px 0px 0px 5px);
}

.resultPanel{
    @include margin(-23px 0px 0px 0px);
    @include height(100px);
    @include cursor(pointer);
} 

.resultPanel, legend{
    @extend %body-content;
}

.dialogAction{
    @include margin(100px 0px 0px 0px);    
}

.dpCheckBox{
    @include float(right);
}

fieldset{
    margin-top: 15px;
    @include padding(5px 5px 5px 5px);
    @include border(1px solid $fieldsetColor);
}

.contentHeight{
    @include height(2000px);
}
.aliasinput{
    @include margin(0px 0px 5px 0px);
}

.aliasBox{
    @include height(230px);
    overflow-y:auto;
}
.aliasInputContainer{
    width: width-percent(1.205);
}

.alertPopup{
    @include height(165px);
    @include padding(5px 5px 5px 5px);
    @include border-radius(15px);
    @include position(absolute);
    @include background($white,none);
    @include margin(-5% 0% 0% 13%);
    z-index: 1;
    text-align:center;
}

.overlay {
    background-color: rgb(189,189,189);
}

.disabledText{
    color:rgb(169, 169, 169);
}

.deliveryRoute .md-text {
    color: rgb(169, 169, 169);
}

.DPAliasBox{
    padding-left: 15px;
}

#DPAliasBoxBtn{
    margin-left: 0px;     
    margin-top: 10px;
}

.listAliasHeader{
    padding-bottom: 5px;
    padding-left: 5px;
}

.listAliasStar{
    float: right;
    margin-right: 60px;
}

.listAliasMdlist{
    border: solid 1px #d0c9c9;
    height: 145px;
    overflow-y: scroll;
}

.listAliasMdlist .md-button.md-icon-button {
    margin: 0 6px;
    height: 20px;
    min-width: 0;
    line-height: 16px;
    padding: 2px 8px;
    width: 40px;
    border-radius: 50%;
}

.listAlias{
 padding:0 0 0 5px;
 Margin:0;
}

.listAliasRadioBtn{
    margin-right: -10px;
}

.md-list-item, md-list-item .md-list-item-inner, md-list-item, .md-list-item .md-list-item-inner { min-height:10px;}

md-list-item .md-list-item-inner:before, md-list-item:before {
    content: '';
    min-height: 0;
    visibility: hidden;
    display: inline-block;
}

span.centerAlign.flex-20{
    margin: auto;
}

.map-panel li.initialCursor{
  cursor:initial;
}