<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PAFWebApiurl" value="http://localhost:34583/"/>
    <add key="PAFWebApiName" value="/api/PAF/SavePAFDetails"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>