<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PAFWebApiurl" value="" />
    <add key="PAFWebApiName" value="http://localhost:34583/api/PAF/SavePAFDetails" />
    <add key="USRWebApiurl" value="http://localhost:34583/" />
    <add key="USRWebApiName" value="http://localhost:34583/api/USR/SaveUSRDetails" />
    <add key="LogFilePath" value="D:/FMO/Logs\" />
    <add key="ErrorLogFileName" value="ExceptionLogs.txt" />  
    <add key="FmoMessages_ResourceFileName" value="Fmo.Common.ResourceFile.FmoMessagesConstants" />
    <add key="FMOWebAPIUser" value="shobharam.katiya" />
    <add key="FMOTokenGenerationUrl" value="http://localhost:34583/api/token" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>