@import './app/variables';

.printMap{
	margin: 10px 0px 10px 0px;
}

.printMapOption{
	width: 98%;
	margin-left:1%;
}

.printMapDialog{
	width: 40%;
	height: 45%;
}

.printMapDialog md-radio-button#radio_10{
	margin-right: 60px;
}

.printOrientation{
	margin-bottom:15px;
}

.printOrientation label{
	font-size:12px;
}

.printCondition{
	margin-top: 20px;
	color: #da202a;
}

button.md-raised.md-primary.printGenerate.md-button.md-ink-ripple.flex-35 {
    margin-right: 1.5%;
}