<div class="panel-body">
   <div ng-repeat="group in vm.groups">
       <div ng-repeat="layer in group.layers">
           <md-switch class="thin-switch" aria-label="layer.layerName" ng-change="vm.onChange(layer)" ng-model="layer.selected" ng-disabled="false" title="{{layer.layerName}}">
               <span class="baseLayer">{{layer.layerName}}</span>
           </md-switch>
       </div>
   </div>
   <hr ng-show="vm.showUngrouped()" />
   <div ng-repeat="layer in vm.ungrouped" ng-show="layer.selectorVisible">
       <md-switch class="thin-switch" ng-model="layer.selected" aria-label="layer.layerName" ng-change="vm.onChange(layer)" ng-disabled="false" title="{{layer.layerName}}">
           <span class="baseLayer">{{layer.layerName}}</span>
       </md-switch>
   </div>
 </div>