
  UPDATE [FMO].[ReferenceData]
  SET [OrderingIndex]=1
  WHERE [ID] IN ('178EDCAD-9431-E711-83EC-28D244AEF9ED','0F41DA82-236E-E711-80F8-000D3A22173B','CD7BB7EB-E675-E711-8102-000D3A22173B')
  UPDATE [FMO].[ReferenceData]
  SET [OrderingIndex]=2
  WHERE [ID] IN ('990B86A2-9431-E711-83EC-28D244AEF9ED', 'C5F5C08B-236E-E711-80F8-000D3A22173B','631B73F5-E675-E711-8102-000D3A22173B')
  UPDATE [FMO].[ReferenceData]
  SET [OrderingIndex]=3
  WHERE [ID] IN ('7DCAFB95-236E-E711-80F8-000D3A22173B','D7EC4AFC-E675-E711-8102-000D3A22173B')
  UPDATE [FMO].[ReferenceData]
  SET [OrderingIndex]=4
  WHERE [ID] IN ('2511C803-E775-E711-8102-000D3A22173B')
  UPDATE [FMO].[ReferenceData]
  SET [OrderingIndex]=5
  WHERE [ID] IN ('6EC66313-E775-E711-8102-000D3A22173B')
  UPDATE [FMO].[ReferenceData]
  SET [OrderingIndex]=6
  WHERE [ID] IN ('26B10B1A-E775-E711-8102-000D3A22173B')
