@import './app/variables';

.brandName{
    @extend %header-content;
    font-size: 24px !important;
}

.fa-inbox{
    @include font-color($white);
    @include margin(0px 0px 0px 25px);
    cursor: pointer;
}

.fa-bars{
    @include font-color($white);   
}


/*commom sass*/
h1{
    @extend %header-content;
    @include font-color($black);
}

.mdDialog {
    width: width-percent(1);
}

.fa {
    @include cursor(pointer);
}

i.fa.fa-times {
    color: white;
}

.deliveryDialog{
    @include margin(0px 10px 0px 0px);
}

.mdDialog input{
    @extend %body-content;
}

/*fonts*/

/*Chevin Light Font*/
@font-face {
    font-family: 'Chevin';
    src:  url('../fonts/Chevin/Chevin_Light.eot');
    src:  url('../fonts/Chevin/Chevin_Light.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Chevin/Chevin_Light.svg') format('svg'),
          url('../fonts/Chevin/Chevin_Light.ttf') format('truetype'),
          url('../fonts/Chevin/Chevin_Light.woff') format('woff'),
          url('../fonts/Chevin/Chevin_Light.woff2') format('woff2');
    font-weight: 300;
}

/*Chevin Medium Font*/
@font-face {
    font-family: 'Chevin';
    src:  url('../fonts/Chevin/Chevin_Medium.eot');
    src:  url('../fonts/Chevin/Chevin_Medium.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Chevin/Chevin_Medium.svg') format('svg'),
          url('../fonts/Chevin/Chevin_Medium.ttf') format('truetype'),
          url('../fonts/Chevin/Chevin_Medium.woff') format('woff'),
          url('../fonts/Chevin/Chevin_Medium.woff2') format('woff2');
    font-weight:normal;
}

/*Chevin Bold TTF Font*/
@font-face {
    font-family: 'Chevin';
    src:  url('../fonts/Chevin/Chevin_Bold.eot');
    src:  url('../fonts/Chevin/Chevin_Bold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Chevin/Chevin_Bold.svg') format('svg'),
          url('../fonts/Chevin/Chevin_Bold.ttf') format('truetype'),
          url('../fonts/Chevin/Chevin_Bold.woff') format('woff'),
          url('../fonts/Chevin/Chevin_Bold.woff2') format('woff2');
    font-weight: bold;
}

/*PF DIN Font*/
@font-face {
    font-family: 'PF_DIN';
    src:  url('../fonts/PF_DIN/PF_DIN.eot');
    src:  url('../fonts/PF_DIN/PF_DIN.eot?#iefix') format('embedded-opentype'),
          url('../fonts/PF_DIN/PF_DIN.svg') format('svg'),
          url('../fonts/PF_DIN/PF_DIN.ttf') format('truetype'),
          url('../fonts/PF_DIN/PF_DIN.woff') format('woff'),
          url('../fonts/PF_DIN/PF_DIN.woff2') format('woff2');
    font-weight: normal;
}

/* PF DIN BOLD */
@font-face {
    font-family: 'PF_DIN';
    src:  url('../fonts/PF_DIN/PF_DIN_BOLD.eot');
    src:  url('../fonts/PF_DIN/PF_DIN_BOLD.eot?#iefix') format('embedded-opentype'),
          url('../fonts/PF_DIN/PF_DIN_BOLD.svg') format('svg'),
          url('../fonts/PF_DIN/PF_DIN_BOLD.ttf') format('truetype'),
          url('../fonts/PF_DIN/PF_DIN_BOLD.woff') format('woff'),
          url('../fonts/PF_DIN/PF_DIN_BOLD.woff2') format('woff2');
    font-weight:bold;
}

@font-face {
    font-family: 'PF_DIN';
    src:  url('../fonts/PF_DIN/PF_DIN_ITALIC.eot');
    src:  url('../fonts/PF_DIN/PF_DIN_ITALIC.eot?#iefix') format('embedded-opentype'),
          url('../fonts/PF_DIN/PF_DIN_ITALIC.svg') format('svg'),
          url('../fonts/PF_DIN/PF_DIN_ITALIC.ttf') format('truetype'),
          url('../fonts/PF_DIN/PF_DIN_ITALIC.woff') format('woff'),
          url('../fonts/PF_DIN/PF_DIN_ITALIC.woff2') format('woff2');
    font-style:italic;
}
