<!--
<div flex="20" >
		<div class="md-accordion" ng-repeat="data in accordianData">
			<md-content ng-init="data.expanded = true" ng-click="collapse(data)" >
				<div class="md-toolbar-tools" style="background: #e0dede">
					<h2>
						<span>Heading}</span>
					</h2>
					<span flex=""></span>
					<span ng-class="{expandCollapse:true, active:data.expanded}"></span> 
				</div>
			</md-content>
			<div ng-class="{dataContent:true, activeContent:data.expanded}"> 	
                <md-content >
						    <md-list style="background: #f9f6f6;border:1px solid #f9f6f6">
						            <md-list-item>
						                <p>Delivery Group</p>
						            </md-list-item>
						            
						            <md-divider></md-divider>
						                
						            <md-list-item>
						                <p>Hazards</p>
						            </md-list-item>						            
						            </md-list>
                </md-content>
			</div>
		<div>
</div>

-->
Map-View