@import './app/variables';

.brandName{
    @extend %header-content;
    font-size: 24px !important;
    font-weight: bold !important;
}

.fa-bars{
    @include font-color($white);   
}

.map-box{
    height: calc(100% - 70px) !important;
}

.unitSelector{
    margin-top: -20px;
}

/*commom sass*/
h1{
    @extend %header-content;
    @include font-color($black);
}

.mdDialog {
    width: 800px;
    height: height-percent(1);
}

.fa {
    @include cursor(pointer);
}

.md-toolbar-tools .fa{
    @include font-color($white);
}

.mdDialog input{
    @extend %body-content;
}

.panel-body{
    @include margin(0px 0px 0px 10px);
}

.context-button{
    @include margin(0px 0px 0px 0px);
    @include padding(0px 0px 0px 0px);
    @include width(40px);
    @include height(40px);
    border-radius: 0;
    min-width: 40px;
}

/*material classes*/

.layout-row{
    @include margin(0px 0px 0px 0px);
    @include padding(0px 0px 0px 0px);
}

.layout-column{
    @include margin(0px 0px 0px 0px);
    @include padding(0px 0px 0px 0px);
}

md-input-container{
    @include margin(10px 0px 0px 0px);
    @include padding(0px 0px 0px 0px);
}

md-list-item .md-list-item-inner>md-checkbox, md-list-item>md-checkbox {
    @include margin(0px 0px 0px 0px);
}

.errorDialog{
    @include width(425px);
    @include height(216px);
}

button.md-raised.md-primary.md-button.md-ink-ripple {
    @extend %body-content;
    @include font-color($white);
}


md-select-menu._md {
    margin-left: 3%;
    width: 89%;
}

.noResult.ng-binding.ng-scope {
    
    margin-left: 3%;
    width: 89%;
}

button.md-raised.md-primary.md-button.md-ink-ripple.rightAligned {
    @include margin(1.5%);
} 

.ol-attribution.ol-unselectable.ol-control{
    max-width: 50%;
    ul{
      text-align:left;
  }
}
.ol-attribution.ol-unselectable.ol-control.ol-collapsed {
    width: 28px;
}


/*fonts*/

/*Chevin Light Font*/
@font-face {
    font-family: 'Chevin';
    src:  url('../fonts/Chevin/Chevin_Light.eot');
    src:  url('../fonts/Chevin/Chevin_Light.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Chevin/Chevin_Light.ttf') format('truetype'),
          url('../fonts/Chevin/Chevin_Light.woff') format('woff');
    font-weight: 300;
}

/*Chevin Medium Font*/
@font-face {
    font-family: 'Chevin';
    src:  url('../fonts/Chevin/Chevin_Medium.eot');
    src:  url('../fonts/Chevin/Chevin_Medium.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Chevin/Chevin_Medium.ttf') format('truetype'),
          url('../fonts/Chevin/Chevin_Medium.woff') format('woff');
    font-weight:normal;
}

/*Chevin Bold TTF Font*/
@font-face {
    font-family: 'Chevin';
    src:  url('../fonts/Chevin/Chevin_Bold.eot');
    src:  url('../fonts/Chevin/Chevin_Bold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Chevin/Chevin_Bold.ttf') format('truetype'),
          url('../fonts/Chevin/Chevin_Bold.woff') format('woff');
    font-weight: bold;
}

/*PF DIN Font*/
@font-face {
    font-family: 'PF_DIN';
    src:  url('../fonts/PF_DIN/PF_DIN.eot');
    src:  url('../fonts/PF_DIN/PF_DIN.eot?#iefix') format('embedded-opentype'),
          url('../fonts/PF_DIN/PF_DIN.svg') format('svg'),
          url('../fonts/PF_DIN/PF_DIN.ttf') format('truetype'),
          url('../fonts/PF_DIN/PF_DIN.woff') format('woff'),
          url('../fonts/PF_DIN/PF_DIN.woff2') format('woff2');
    font-weight: normal;
}

/* PF DIN BOLD */
@font-face {
    font-family: 'PF_DIN';
    src:  url('../fonts/PF_DIN/PF_DIN_BOLD.eot');
    src:  url('../fonts/PF_DIN/PF_DIN_BOLD.eot?#iefix') format('embedded-opentype'),
          url('../fonts/PF_DIN/PF_DIN_BOLD.svg') format('svg'),
          url('../fonts/PF_DIN/PF_DIN_BOLD.ttf') format('truetype'),
          url('../fonts/PF_DIN/PF_DIN_BOLD.woff') format('woff'),
          url('../fonts/PF_DIN/PF_DIN_BOLD.woff2') format('woff2');
    font-weight:bold;
}

@font-face {
    font-family: 'PF_DIN';
    src:  url('../fonts/PF_DIN/PF_DIN_ITALIC.eot');
    src:  url('../fonts/PF_DIN/PF_DIN_ITALIC.eot?#iefix') format('embedded-opentype'),
          url('../fonts/PF_DIN/PF_DIN_ITALIC.svg') format('svg'),
          url('../fonts/PF_DIN/PF_DIN_ITALIC.ttf') format('truetype'),
          url('../fonts/PF_DIN/PF_DIN_ITALIC.woff') format('woff'),
          url('../fonts/PF_DIN/PF_DIN_ITALIC.woff2') format('woff2');
    font-style:italic;
}
