<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <h2>
              <span ><i class="fa fa-arrow-circle-left" aria-hidden="true" ng-click="vm.closeSideNav()"></i></span>
                Available Actions
            </h2>
        </div>
    </md-toolbar> 
    
    <md-content>
        <md-list>
          <md-list-item  ng-repeat="Item in vm.RolesActionResult| unique: 'ActionName'" ng-click="vm.fetchActions(Item.ActionName,vm.selectedDeliveryUnit)">
            {{Item.ActionName}}
          </md-list-item>
      </md-list>
    </md-content>  
</md-sidenav>
