<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <h2>
              <span ><i class="fa fa-arrow-circle-left" aria-hidden="true" ng-click="vm.closeSideNav()"></i></span> 
                 <span>Side Panel</span>
            </h2>
        </div>
    </md-toolbar> 
    
    <md-content layout-padding="">
        <md-list>
            
            <md-list-item  ng-click="vm.advanceSearch()">
                <p>Advance Search</p>
            </md-list-item>
            
            <md-divider></md-divider>
            
            <md-list-item>
                <p >Delivery Point</p>
            </md-list-item>
            
            <md-divider></md-divider>
            
            <md-list-item>
                <p > Delivery Group</p>
            </md-list-item>
            
            <md-divider></md-divider>
                
            <md-list-item>
                <p >Hazards</p>
            </md-list-item>
                
            <md-divider></md-divider>

            <md-list-item ng-click="vm.routeLog()" >
                <span>Route Log</span>
            </md-list-item>
            
            <md-divider></md-divider>
            
            <md-list-item>
                <p ui-sref="routeSimulation" > Simulation</p>
            </md-list-item>
            
            <md-divider></md-divider>


            </md-list>
    </md-content> 
    
</md-sidenav>
