<div layout="column">
     <div layout="row" class="md-padding" layout-align="end start">
         <!-- <md-button class="context-button" aria-label="Back" ng-show="vm.enableBack" ng-click="vm.clearAccessLink()" title="{{ 'GENERAL.BUTTONS.BACK' | translate }}">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                 </md-button> -->
        <md-button class="context-button" ng-show="vm.enableBack" aria-label="Back" title="{{ 'GENERAL.BUTTONS.BACK' | translate }}">
            <previous-page></previous-page>
        </md-button>
        <md-button class="context-button" aria-label="Save" ng-show="vm.enableSave" ng-click="vm.createAccessLink()" ui-sref="deliveryPoint" title="{{ 'GENERAL.BUTTONS.SAVE' | translate }}">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
        </md-button>
         <md-button class="context-button" aria-label="Help" title="{{ 'GENERAL.BUTTONS.HELP' | translate }}">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
        </md-button>
    </div>
    
    <div layout="row">
        <md-input-container>
            <label>{{ 'ACCESS_LINK.PATH_LENGTH' | translate }}</label>
            <input type="text" ng-disabled="false" ng-model="vm.pathLength">
        </md-input-container>
        <span flex="5"></span>
        <div class="pathLengthUnit">{{ 'ACCESS_LINK.METERS' | translate }}</div>        
    </div>
</div>