<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <appSettings>
    <add key="LogFilePath" value="D:\FMO\Logs\"/>
    <add key="ErrorLogFileName" value="ExceptionLogs.txt"/>
    <add key="USRFromEmail" value="sriram.kandade@capgemini.com"/>
    <add key="USRToEmail" value="sriram.kandade@capgemini.com"/>
    <add key="USRSubject" value="USR file error"/>
    <add key="USRBody" value="UDPRN - {0} already exists"/>
    <add key="SearchResultCount" value="5"/>
    <add key="FmoMessages_ResourceFileName" value="Fmo.Common.ResourceFile.FmoMessagesConstants"/>
  </appSettings>
  <connectionStrings>
    <add name="FMODBContext" connectionString="data source=.\SQLExpress;initial catalog=FMO_Dev01;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
