<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <appSettings>
    <add key="LogFilePath" value="D:\FMO\Logs\"/>
    <add key="ErrorLogFileName" value="ExceptionLogs.txt"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="FMODBContext" connectionString="data source=.\SQLExpress;initial catalog=FMO_Dev01;User ID=sa;Password=Password1#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="FMODBContext" connectionString="Data Source=.\SQLExpress;Initial Catalog=FMO_AD;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
