@import './app/variables';

.layout-row{
    padding: 0px;
}

.columnButton{
    height: 100%;
    margin-top: 15px;
}

.searchbox{
    width: width-percent(1);
    @include height(25px);
    @include margin(8px 0px 0px 0px);
}

.advSection{
    @include margin(0px 0px 15px 0px);
    @extend %body-content;
}

.advSecList{
    @extend %body-content;
    overflow-y: auto;        
}

.searchTable {
    @extend %body-content;
    width: width-percent(1);
    border-collapse: collapse;
    cursor: pointer;
}

.searchTh, .searchTd{
    @extend %body-content;
    @include padding(8px 8px 8px 8px);
    @include border(1px solid $recess-grey);
    text-align: left;      
}

.searchTh{
    font-weight: bold;
}

span.closeWindow {
    @include margin(-10px -7px 0px 0px);
    @include cursor(default);
}