<div layout="column" class="advanceSearch">

    <section layout="row">
        <input type="text" placeholder="search">
        <md-button class="md-raised md-primary" flex="10">search</md-button>
    </section>

    <section class="dsa">
        <md-checkbox ng-model="ck1" aria-label="Checkbox 1">
            Checkbox 1
        </md-checkbox>

        <md-checkbox ng-model="ck2" aria-label="Checkbox 1">
            Checkbox 2
        </md-checkbox>

        <md-checkbox ng-model="ck3" aria-label="Checkbox 1">
            Checkbox 3
        </md-checkbox>

        <md-checkbox ng-model="ck4" aria-label="Checkbox 1">
            Checkbox 4
        </md-checkbox>

        <md-checkbox ng-model="ck5" aria-label="Checkbox 1">
            Checkbox 5
        </md-checkbox>

        <md-checkbox ng-model="ck6" aria-label="Checkbox 1">
            Checkbox 6
        </md-checkbox>

        <md-checkbox ng-model="ck6" aria-label="Checkbox 1">
            Checkbox 7
        </md-checkbox>
    </section>

    <section layout="row" layout-wrap>
        <div layout-align="start start">
            <md-button class="md-raised md-primary">Collapse All</md-button>
            <md-button class="md-raised md-primary">Expand All</md-button>
        </div>
        <span flex></span>
        <div layout-align="end start">
            <md-button class="md-raised md-primary">Select All</md-button>
            <md-button class="md-raised md-primary">Deselect All</md-button>
        </div>
    </section>

    <section layout="row" layout-wrap>
        <table>
            <tr>
                <th ng-click="togglePanel()">Route <span>(6)</span></th>
            </tr>
            <tr ng-hide="!show">
                <td>address</td>
            </tr>
        </table>
    </section>

    <section layout="row" layout-wrap>
        <table>
            <tr>
                <th>Postcode <span>(6)</span></th>
            </tr>
            <tr>
                <td>address</td>
            </tr>
        </table>
    </section>

    <section layout="row" layout-wrap>
        <table>
            <tr>
                <th>Delivery Point <span>(6)</span></th>
            </tr>
            <tr>
                <td>address</td>
            </tr>
        </table>
    </section>

    <section layout="row" layout-wrap>
        <table>
            <tr>
                <th>Collection Point <span>(6)</span></th>
            </tr>
            <tr>
                <td>address</td>
            </tr>
        </table>
    </section>

    <section layout="row" layout-wrap>
        <table>
            <tr>
                <th>Street Network <span>(6)</span></th>
            </tr>
            <tr>
                <td>address</td>
            </tr>
        </table>
    </section>

    <section layout="row" layout-wrap>
        <table>
            <tr>
                <th>Groups <span>(6)</span></th>
            </tr>
            <tr>
                <td>address</td>
            </tr>
        </table>
    </section>

</div>