@import './app/variables';

h2 {
    @extend %header-content;
} 

md-list-item{
    @extend %body-content;
}

.md-toolbar-tools > h2 {
    @extend %header-content;
}

.version{
    @extend %body-content;
    @include font-color($white);
}

.printInfo{
	top:36%;
	position:absolute;
	left:30%;
	@include margin(0px 0px 0px 10px);
}

.versionBox{
	position:absolute;
	bottom:0px;
    min-height:36px;
    height:36px;
}

.sideList .md-button{
    min-height:48px;
}

.disableText .md-list-item {
    color : grey;
}