<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" layout="column">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Back" ng-click="vm.closeSideNav()">
                <i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true" title="{{ 'GENERAL.BUTTONS.BACK' | translate }}"></i>
            </md-button>
            <h2>
                Available Actions
            </h2>
        </div>
    </md-toolbar> 
    <md-content>
        <md-list>
            <md-list-item ng-disabled="vm.isDisabledAction" ng-click="vm.fetchActions('PrintMap',vm.selectedDeliveryUnit)">
                Print Map 
                <i class="fa fa-info-circle" aria-label="Alert" style="margin-left: 10px;" 
                   title="{{ 'PRINT_MAP.BUTTONS.DISABLE_ALERT' | translate }}"></i>
            </md-list-item>
          <md-list-item  ng-repeat="Item in vm.RolesActionResult| unique: 'ActionName'" ng-click="vm.fetchActions(Item.ActionName,vm.selectedDeliveryUnit)">
            {{Item.ActionName}}
          </md-list-item>
        </md-list>
    </md-content>
    <md-toolbar>
        <div class="md-toolbar-tools version"  layout-align="center center">
            V 1.2.9
        </div>
    </md-toolbar>
</md-sidenav>