<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" layout="column">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Back" ng-click="vm.closeSideNav()" title="{{ 'GENERAL.BUTTONS.BACK' | translate }}">
                <i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true"></i>
            </md-button>
            <h2>
                {{ 'GENERAL.AVAILABLE_ACTIONS' | translate }}
            </h2>
        </div>
    </md-toolbar> 
    <md-content>
        <md-list class="sideList">
            <!-- <md-list-item ng-disabled="vm.isDisabledAction" ng-click="vm.fetchActions('PrintMap',vm.selectedDeliveryUnit)">
                Print Map 
                <i class="fa fa-info-circle printInfo" aria-label="Alert" 
                   title="{{ 'PRINT_MAP.BUTTONS.DISABLE_ALERT' | translate }}"></i>
            </md-list-item> -->
          <md-list-item  ng-repeat="Item in vm.RolesActionResult | unique: 'ActionName'  track by $index" ng-click="vm.fetchActions(Item.ActionName, vm.selectedDeliveryUnit)" 
                        title="{{Item.ActionName}}" ng-disabled="vm.isDisabledAction && Item.ActionName === 'Print Map'" 
                        ng-class="(vm.isDisabledAction && Item.ActionName === 'Print Map') ? 'disableText': ''">
                {{Item.ActionName}}
                <i class="fa fa-info-circle printInfo" aria-label="Alert" ng-if="vm.isDisabledAction && Item.ActionName === 'Print Map'" title="{{ 'PRINT_MAP.BUTTONS.DISABLE_ALERT' | translate }}"></i>
          </md-list-item>
        </md-list>
    </md-content>
    <md-toolbar class="versionBox">
        <div class="md-toolbar-tools version"  layout-align="center center">
            V 1.2.9
        </div>
    </md-toolbar>
</md-sidenav>