@import './app/variables';

h2 {
    @extend %header-content;
} 

md-list-item{
    @extend %body-content;
}

.md-toolbar-tools > h2 {
    @extend %header-content;
}

.version{
    @extend %body-content;
    @include font-color($white);
}

.printInfo{
	top:12px;
	position:absolute;
	left:30%;
	@include margin(0px 0px 0px 10px);
}