@import './app/variables';

map-panel {
    @include position(relative);
    @include border-radius(3px);
    @include margin(0px 0px 10px 0px); 
}

.show-panel {
    @include width(250px);
}

.show-left-panel {
    @include width(350px);
}

.map-panel {
    @include background($white,none);
}

.map-panel ul {
    @include margin(0px 0px 0px 0px);
    @include padding(0px 0px 0px 0px);
    list-style: none;
}

.map-panel li {
    @extend %body-content;
    @include padding(10px 10px 10px 10px);
    @include border-bottom(1px solid $white-smoke);
}

.map-panel li:hover {
    @include cursor(pointer);
}

.map-panel .panel-header {
    @include background($white-smoke,none);
    pointer-events: auto;
}

.map-panel .map-panel-content {
    height: calc(100% - 50px);
    overflow: auto;
    pointer-events: auto;
}

.map-panel .map-panel-summary {
    @include padding(5px 5px 5px 5px);
    @include border-bottom(1px solid $white-smoke);
}

.search-panel .map-panel-content {
    @include padding(10px 10px 10px 10px);
}

.right-panel {
    @include float(right);
}

.md-whiteframe-3dp.map-panel.hide-panel {
    @include width(250px);
}


.full-height{
    height:100%;
}