@import './app/variables';

.mapContainer {
    width: width-percent(1);
    height: height-percent(1);
}

.miniMap {
    @include margin(0px 0px 20px 0px);
}

.layers {
    @include margin(0px 0px 20px 0px);
}


#leftPanel {
    @include position(absolute);
    @include top(75px);
    left: 15px;
}

#rightPanel {
    @include position(absolute);
    @include top(75px);
    right: 15px;
}

.zoom-control {
    @include position(absolute);
    @include top(-10px);
    left: -50px;
}

.levelDanger {
    @include font-color($red);
    @include border(1px solid $red);
}

.zoom-scale {
    @include position(absolute);
    width: width-percent(2.857);
    left: -56%;
}

.labletext {
    @include margin(4px 0px 0px 9px);
    @include position(absolute);
    font-size: 16px;
}

input[name="zoom-scale"] {
    width: width-percent(1.047);
    text-indent: 22px;
}

.context-panel{
    height:calc(100% - 30px);
}

.context-view{
    height:400px;
}
