.mapContainer{
    width: 100%;
    height: 100%;
}
.miniMap{
    margin-bottom: 20px;
}

.layers{
    margin-bottom: 20px;
}

#leftPanel {
    left:15px;
    top: 75px;
    position: absolute;
}

#rightPanel {
    right: 15px;
    top: 75px;
    position: absolute;
}

.zoom-control{
    position: absolute;
    left: -50px;
    top: 0;
}

.ol-zoom.ol-unselectable.ol-control {
    display: none;
}