@import './app/variables';

.mapContainer {
    width: width-percent(1);
    height: 100%;
}

.miniMap{
    @include margin(0px 0px 20px 0px);
}

.layers{
     @include margin(0px 0px 20px 0px);
}


#leftPanel{
    @include position(absolute);
    left: 15px;
    top: 75px;
}

#rightPanel{
    @include position(absolute);
    right: 15px;
    top: 75px;
}

.zoom-control {
    @include position(absolute);
    left: -50px;
    top: 0;
}


.zoom-scale {
    @include position(absolute);
    @include background($white);
    width: width-percent(2.86);
    @include padding(3px 10px 3px 10px);
    text-align: center;
    left: -155px;
    top: 10px;
}

.levelDanger{
    @include background($red);
}
