<div class="searchBox">
    <input type="text" ng-model="vm.searchText" ng-change="vm.resultSet(vm.searchText)" class="searchInput" placeholder="{{ 'GENERAL.SEARCH' | translate}}"
           ng-enter="vm.onEnterKeypress(vm.searchText)" ng-blur="vm.onBlur()" no-special-char/>
    <div class="numberCircle" ng-show="vm.resultscount[0].count > 0 && vm.isResultDisplay"><span>{{vm.resultscount[0].count}}</span></div> 
    <i class="fa fa-search searchIccon" aria-hidden="true" ng-click="vm.onEnterKeypress(vm.searchText)"></i>
    <div class="searchContent" md-whiteframe="3dp" ng-show="vm.isResultDisplay">
        <ul ng-repeat="item in vm.results | limitTo:5">
            <li class="searchData">
                <a ng-click="vm.OnChangeItem(item)">
                    <span ng-switch on="item.type" ng-if="item.type">
                        <i class="fa fa-map-marker delivery" aria-hidden="true" ng-switch-when="DeliveryPoint"></i>
                    </span>
                    <span ng-show="item.type!='Warning'">
                        {{ item.displayText | limitTo: 30 }}
                        <i ng-show="item.displayText.length >= 30" class="fa fa-angle-right searchRight" aria-hidden="true"></i>
                    </span>
                    <span ng-show="item.type=='Warning'"> {{ item.displayText }}</span>
                </a>
            </li>
        </ul>
        <ul>
            <li ng-show="vm.results.length >= 5">
                <button class="viewResult" ng-click="vm.advanceSearch(vm.searchText)"> <span class="searchCount">{{vm.resultscount[0].count - 5}}</span> View More Results<i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
            </li>
        </ul>
        <ul>
            <li ng-show="vm.results.length == 0">
                <button class="noResult">{{ 'VALIDATION.NO_RESULT_FOUND' | translate }}</button>
            </li>
        </ul>
    </div>
</div>