@import './app/variables';

.mapContainer {
    width: width-percent(1);
    height: height-percent(1);
}

#mini-map{
    height: 150px;
}

#leftPanel {
    @include position(absolute);
    @include top(75px);
    left: 15px;
    height: calc(100% - 85px);
    pointer-events: none;
}

#rightPanel {
    @include position(absolute);
    @include top(75px);
    height: calc(100% -135px);
    right: 15px;
}

.zoom-control {
    @include position(absolute);
    @include top(-10px);
    left: -50px;
}

.levelDanger {
    @include font-color($red);
    @include border(1px solid $red);
}

.zoom-scale {
    @include position(absolute);
    width: width-percent(2.857);
    left: -56%;
}

.labletext {
    @include margin(4px 0px 0px 9px);
    @include position(absolute);
    font-size: 16px;
}

input[name="zoom-scale"] {
    width: width-percent(1.047);
    text-indent: 22px;
}

.context-panel{
    height:calc(100% - 30px);
}

/*.ol-custom-overviewmap,
.ol-custom-overviewmap.ol-uncollapsible {
bottom: auto;
left: auto;
right: 0;
top: 0;
}

.ol-custom-overviewmap:not(.ol-collapsed)  {
border: 1px solid black;
}

.ol-custom-overviewmap .ol-overviewmap-map {
border: none;
width: 300px;
}

.ol-custom-overviewmap:not(.ol-collapsed) button{
bottom: auto;
left: auto;
right: 1px;
top: 1px;
}

.ol-rotate {
top: 170px;
right: 0;
}*/