<div layout-align="center start" class="map-toolbar" layout="row">
    <md-button ng-repeat="button in vm.mapButtons track by $index"
               ng-class="vm.selectedButton=='{{button}}' ? 'button md-raised selected' : 'button md-raised'"
               ng-click="vm.setSelectedButton(button)" title="{{button}}" >
        <i class="fa fa-hand-pointer-o pad-icon" ng-if="button === 'select'" title="{{ 'GENERAL.BUTTONS.SELECT' | translate }}"></i>
        <i class="fa fa-map-marker pad-icon" ng-if="button === 'point'" title="{{ 'GENERAL.POINT' | translate }}"></i>
        <md-icon class="material-icons pad-icon" ng-if="button === 'line'" title="{{ 'GENERAL.LINE' | translate }}">timeline</md-icon>
        <i class="fa fa-arrows-h pad-icon" ng-if="button === 'accesslink'" title="{{ 'GENERAL.ACCESS_LINK' | translate }}"></i>
        <i class="fa fa-square pad-icon" ng-if="button === 'area'" title="{{ 'GENERAL.AREA' | translate }}"></i>
        <span flex></span><span class=maptoolBarText>{{button}}</span>
    </md-button>
</div>