
<!--<custom-searchable-dropdown  search-term="vm.searchTerm"  is-delivery-Unit-disabled="vm.isDeliveryUnitDisabled"
                            selected-route="vm.selectedUser" select-class="'customSelector'" select-header-class="vm.selectClass" delivery-route="vm.deliveryRouteUnit"
                            no-result-found="'ROUTE_SIMULATION.NO_RESULT_FOUND'" is-unit-selector="true" >
</custom-searchable-dropdown>-->

<custom-searchable-dropdown disabled="vm.isDeliveryUnitDisabled" order-by="displayText" 
                            items="vm.deliveryRouteUnit" selected-item="vm.selectedDeliveryUnit" on-selected-item="vm.DeliveryUnit"
                            class="unitText"></custom-searchable-dropdown>


<!--<md-input-container class="md-block unitText">
    <md-select ng-disabled="vm.isDeliveryUnitDisabled" ng-model="vm.selectedUser" ng-change="vm.DeliveryUnit()" aria-label="Unit Selector" class="customSelector">
        <md-select-header>
            <input type="search" ng-model="vm.searchTerm" ng-keydown="$event.stopPropagation()" class="routeSearch md-text">
        </md-select-header>
        <md-optgroup>
            <md-option ng-value="unit" ng-repeat="unit in  filterDeliveryRouteUnit= (vm.deliveryRouteUnit | filter:vm.searchTerm | orderBy : 'unitName') "><i class="fa fa-map-marker delivery" aria-hidden="true"></i> {{unit.area+"    "+ unit.unitName}} </md-option>
        </md-optgroup>
        <div ng-show="!filterDeliveryRouteUnit.length" class="noResult">No Result Found</div>
    </md-select>
</md-input-container>-->