﻿<md-input-container class="md-block">
    <label>{{ vm.headerText | translate}}</label>
    <md-select ng-disabled="vm.disabled"
               ng-model="vm.selectedItem"
               md-on-open="vm.clearSearchTerm()"
               md-on-close="vm.clearSearchTerm()"
               ng-change="vm.onChange()"
               data-md-container-class="searchableDropdown">
        <md-select-header class="select-header">
            <input type="search"
                   ng-model="vm.searchTerm"
                   placeholder="{{vm.items.length!==0?vm.searchPlaceholder:''| translate}}"
                   ng-keydown="$event.stopPropagation()"
                   class="search-input md-text">
        </md-select-header>
        <md-option ng-value="item" ng-repeat="item in filteredItems = ( vm.items | filter:{displayText:vm.searchTerm } | orderBy: vm.orderBy)">
            <i ng-if="item.icon" class="fa {{item.icon}}" aria-hidden="true"></i> {{item.displayText}}
        </md-option>
        <md-option ng-value ng-if="filteredItems.length === 0" ng-disabled="filteredItems.length === 0"> {{ 'VALIDATION.NO_RESULT_FOUND' | translate }} </md-option>
    </md-select>
</md-input-container>