<md-dialog aria-label="Advance Search" class="mdDialog">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ 'ADVANCE_SEARCH.TITTLE' | translate }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.closeWindow()" title="{{ 'GENERAL.BUTTONS.CLOSE_WINDOW' | translate }}">
            <i class="fa fa-times" aria-hidden="true"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
            <div layout="row">
                <div layout="column" flex="80">
                    <md-input-container class="inputIcon">
                        <label>{{ 'GENERAL.SEARCH' | translate }}</label>
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input type="text" ng-model="vm.searchText" ng-disabled="true" class="searchbox md-text" />
                    </md-input-container>
                </div>
                <md-button class="md-raised md-primary columnButton" flex>
                    <i class="fa fa-search" aria-hidden="true" title="{{ 'GENERAL.SEARCH' | translate }}"></i>
                        {{ 'GENERAL.SEARCH' | translate }}
                </md-button>
            </div>
            <div class="row">
                <md-checkbox ng-model="vm.chkRoute" aria-label="Route" title="{{ 'ADVANCE_SEARCH.ROUTE' | translate }}">
                    {{ 'ADVANCE_SEARCH.ROUTE' | translate }}
                </md-checkbox>
                <md-checkbox ng-model="vm.chkPostCode" aria-label="Post Code" title="{{ 'ADVANCE_SEARCH.POST_CODE' | translate }}">
                    {{ 'ADVANCE_SEARCH.POST_CODE' | translate }}
                </md-checkbox>
                <md-checkbox ng-model="vm.chkDeliveryPoint" aria-label="Delivery Point" title="{{ 'ADVANCE_SEARCH.DELIVERY_POINT' | translate }}">
                    {{ 'ADVANCE_SEARCH.DELIVERY_POINT' | translate }}
                </md-checkbox>
                <md-checkbox ng-model="Collection_Point" ng-disabled="true" aria-label="Collection Point" title="{{ 'ADVANCE_SEARCH.COLLECTION_POINT' | translate }}">
                    {{ 'ADVANCE_SEARCH.COLLECTION_POINT' | translate }}
                </md-checkbox>
                <md-checkbox ng-model="vm.chkStreetNetwork" aria-label="Street Network" title="{{ 'ADVANCE_SEARCH.STREET_NETWORK' | translate }}">
                     {{ 'ADVANCE_SEARCH.STREET_NETWORK' | translate }}
                </md-checkbox>
                <md-checkbox ng-model="Group" ng-disabled="true" aria-label="Group" title="{{ 'ADVANCE_SEARCH.GROUP' | translate }}">
                    {{ 'ADVANCE_SEARCH.GROUP' | translate }}
                </md-checkbox>
                <md-checkbox ng-model="Hazard" ng-disabled="true" aria-label="Hazard" title="{{ 'ADVANCE_SEARCH.HAZARD' | translate }}">
                    {{ 'ADVANCE_SEARCH.HAZARD' | translate }}
                </md-checkbox>
            </div>
            <div layout="row">
                <div layout-align="start start">
                    <md-button class="md-raised md-primary" ng-click="vm.toggleList(false)" title="{{ 'GENERAL.COLLAPSE_ALL' | translate }}">
                        {{ 'GENERAL.COLLAPSE_ALL' | translate }}
                    </md-button>
                    <md-button class="md-raised md-primary" ng-click="vm.toggleList(true)" title="{{ 'GENERAL.EXPAND_ALL' | translate }}">
                        {{ 'GENERAL.EXPAND_ALL' | translate }}
                    </md-button>
                </div>
                <span flex></span>
                <div layout-align="end start">
                    <md-button class="md-raised md-primary" ng-click="vm.toggleSelection(true)" title="{{ 'GENERAL.SELECT_ALL' | translate }}">
                        {{ 'GENERAL.SELECT_ALL' | translate }}
                    </md-button>
                    <md-button class="md-raised md-primary" ng-click="vm.toggleSelection(false)" title="{{ 'GENERAL.DESELECT_ALL' | translate }}">
                        {{ 'GENERAL.DESELECT_ALL' | translate }}
                    </md-button>
                </div>
            </div>

            <div layout="column"> 
                 <table ng-repeat="route in vm.arrRoutes" ng-click="route.open = !route.open" class="advSecList searchTable">
                    <tr is-open ="route.open" class="advSecItem">
                        <th class="searchTh">
                            <i class="fa fa-angle-right" ng-show="route.open = !route.open" aria-hidden="true"></i>
                            <i class="fa fa-angle-down" aria-hidden="true" ng-show="route.open = !route.open"></i>
                            {{route.type}} ({{route.name.length}})
                        </th>
                    </tr>
                    <tr ng-repeat="subitem in route.name" ng-show="route.open">
                        <td class="searchTd"><a ng-click="vm.OnChangeItem(subitem)"> {{subitem.displayText}}</a></td>
                    </tr>
                </table>
              </div>
    </md-dialog-content>
</md-dialog>