<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="XMLFileFolderSettings" value="D:\Project\SourceFiles\FMO\FMO\FMO.Batch.FileLoader\CustomSettings.xml" />
    <add key="Queue_Root_Path" value=".\Private$\" />
    <add key="ProcessedFilePath" value="D:\ProcessedFile" />
    <add key="ErrorFilePath" value="D:\ErrorFile" />
    <add key="PAFProcessedFilePath" value="D:\Project\SourceFiles\ConsoleApplication1\TestData\PAF\Processed" />
    <add key="PAFErrorFilePath" value="D:\Project\SourceFiles\ConsoleApplication1\TestData\PAF\Error" />
    <add key="USRProcessedFilePath" value="D:\Projects\SourceFiles\TPF\Processed" />
    <add key="USRErrorFilePath" value="D:\Projects\SourceFiles\TPF\Error" />
    <add key="FMOWebAPIURL" value="http://localhost:34583/" />
    <add key="FMOWebAPIName" value="http://localhost:34583/api/address/saveaddressdetails/" />
    <add key="FMOWebAPIUser" value="manageruser1" />
    <add key="FMOTokenGenerationUrl" value="http://localhost:34583/api/token" />
    <add key="XSDLocation" value="C:\Workspace\FMO\FMO\Fmo.NYBLoader\Schemas\USRFileSchema.xsd" />
    <add key="LogFilePath" value="D:\FMO\Logs\" />
    <add key="ErrorLogFileName" value="ExceptionLogs.txt" /> 
    <add key="FmoMessages_ResourceFileName" value="Fmo.Common.ResourceFile.FmoMessagesConstants" />
  </appSettings>
  <connectionStrings>
    <add name="FMODBContext" connectionString="Data source=.\;initial Catalog=FMODB;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>