<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="XMLFileFolderSettings" value="C:\Workspace\FMO\FMO\FMO.Batch.FileLoader\CustomSettings.xml" />
    <add key="Queue_Root_Path" value=".\Private$\"/>
    <add key="ProcessedFilePath" value="D:\ProcessedFile"/>
    <add key="ErrorFilePath" value="D:\ErrorFile"/>
    <add key="FMOWebAPIURL" value="http://localhost:34583/"/>
    <add key="FMOWebAPIName" value="/api/address/SaveAddressdetails"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>